VITE_API_URL=<url_de_l_api_backend_ex_http://localhost:5000/api>
CLOUDINARY_CLOUD_NAME=<votre_cloud_name_cloudinary>
CLOUDINARY_API_KEY=<votre_cle_api_cloudinary>
CLOUDINARY_API_SECRET=<votre_secret_api_cloudinary>
VITE_GOOGLE_CLIENT_ID=<votre_client_id_google_oauth>
VITE_FACEBOOK_APP_ID=<votre_app_id_facebook>
